#site-navbar {
    background-color: $color-primary;
    backdrop-filter: blur(8px);
    width: 100%;
    height: 6vh;
    background-color: $color-primary;
    color: $white;
    z-index: 999;
}

.navbar-brand {
    margin-left: 2rem;
    margin-right: unset;
}
